trigger:
  - devlop
pool:
  name: linux-hosted-agent
stages:
- stage: Build
  displayName: Build Artifacts
  jobs:
  - job: build
    displayName: build artifacts for todo
    steps:
    - task: NodeTool@0
      displayName: Nods JS install
      inputs:
        versionSource: 'spec'
        versionSpec: '16.x'

    # SonarQube Prepare
    # - task: SonarQubePrepare@5
    #   displayName: SonarQube Prepare
    #   inputs:
    #     SonarQube: 'sonarsvc'
    #     scannerMode: 'CLI'
    #     configMode: 'manual'
    #     cliProjectKey: 'todo-ui'
    #     cliProjectName: 'todoapp'
    #     cliSources: '.'

    - task: SonarQubePrepare@8
      inputs:
        SonarQube: 'sonarsvc'
        scannerMode: 'cli'
        configMode: 'manual'
        cliProjectKey: 'todo-ui'
        cliProjectName: 'todoapp'
        cliSources: '.'

    # SonarQube Analyze
    # - task: SonarQubeAnalyze@8
    #   displayName: SonarQube Analyze

    - task: SonarQubeAnalyze@8
      inputs:
        jdkversion: 'JAVA_HOME_17_X64'
    
    # SonarQube Quality Gate
    - task: SonarQubePublish@8
      displayName: SonarQube Quality Gate
      inputs:
        pollingTimeoutSec: '300'    
    - task: Npm@1
      displayName: NPM install
      inputs:
        command: 'install'
    - task: Npm@1
      displayName: NPM run Build
      inputs:
        command: 'custom'
        customCommand: 'run build'

    - task: PublishPipelineArtifact@1
      displayName: Publish Artifacts
      inputs:
        targetPath: '$(System.DefaultWorkingDirectory)/build/'
        artifact: 'todo-frontend'
        publishLocation: 'pipeline'
   
    