trigger: none

pool:
  name: Default

stages:
  - stage: Build
    displayName: Build Artifacts
    jobs:
      - job: build
        displayName: build artifacts for todo
        steps:
          - task: NodeTool@0
            displayName: Nods JS install
            inputs:
              versionSource: 'spec'
              versionSpec: '16.x'

          - task: Npm@1
            displayName: NPM install
            inputs:
              command: 'install'
          - task: Npm@1
            displayName: NPM run Build
            inputs:
              command: 'custom'
              customCommand: 'run build'

          - task: CopyFiles@2
            displayName: Copy build output
            inputs:
              SourceFolder: 'C:\Users\user\Downloads\New folder (8)\_work\1\s\build'
              Contents: '**'
              TargetFolder: '$(Build.ArtifactStagingDirectory)'

          - task: PublishBuildArtifacts@1
            displayName: Publish Artifacts
            inputs:
              PathtoPublish: '$(Build.ArtifactStagingDirectory)'
              ArtifactName: 'todofrontend artifacts'
              publishLocation: 'Container'

          # - task: Npm@1
          #   inputs:
          #     command: publish
          #     workingDir: ./build
          #     publishRegistry: useFeed
          #     publishFeed:    
