trigger:
  enabled: false
pool:
  name: Default
stages:
- stage: Build
  displayName: Build Artifacts
  jobs:
  - job: build
    displayName: build artifacts for todo
    steps:
    - task: NodeTool@0
      displayName: Nods JS install
      inputs:
        versionSource: 'spec'
        versionSpec: '16.x'
    - task: Npm@1
      displayName: NPM install
      inputs:
        command: 'install'
    - task: Npm@1
      displayName: NPM run Build
      inputs:
        command: 'custom'
        customCommand: 'run build'

    - task: PublishBuildArtifacts@1
      displayName: Publish Artifacts
      inputs:
        PathtoPublish: '$(System.DefaultWorkingDirectory)/build/'
        ArtifactName: 'todofrontend-artifacts'
        publishLocation: 'Container'
