trigger: none 

pool:
  name: Default

stages:
  - stage: Build
    displayName: Build Artifacts
    jobs:
      - job: build
        displayName: build
        steps:
          - task: NodeTool@0
            inputs:
              versionSource: 'spec'
              versionSpec: '16.x'

          - task: Npm@1
            inputs:
              command: 'install'

          - task: Npm@1
            inputs:
              command: 'custom'
              customCommand: 'run build'
         

        

